<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="home" [text]="Voltar"
      [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>VIABILIDADE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%;">
    <ion-searchbar 
      showCancelButton="focus" 
      cancelButtonText="Cancelar"
      placeholder="Origem"
      [(ngModel)]="origin"
      (keyup)="updateRoute()"></ion-searchbar>
    <ion-searchbar 
      showCancelButton="focus" 
      cancelButtonText="Cancelar"
      placeholder="Destino"
      [(ngModel)]="final"
      (keyup)="updateRoute()"></ion-searchbar>
    <div #map style="width:100%;height:calc(100% - 200px)"></div>
    <ion-button expand="block" 
      style="margin-top:20px" 
      (click)="showModal()"
      [disabled]="!(origin.length || final.length)">Calcular viabilidade</ion-button>
  </div>
  <div>

  </div>
</ion-content>
