<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="home" [text]="Voltar"
      [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>VIABILIDADE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%;">
    <ion-searchbar 
      showCancelButton="focus" 
      cancelButtonText="Cancelar"
      placeholder="Origem"
      [(ngModel)]="origin"
      (keyup)="updateRoute()"></ion-searchbar>
    <ion-searchbar 
      showCancelButton="focus" 
      cancelButtonText="Cancelar"
      placeholder="Destino"
      [(ngModel)]="final"
      (keyup)="updateRoute()"></ion-searchbar>
    <div #map style="width:100%;height:calc(100% - 250px)"></div>
    <ion-item>
      <ion-label position="floating">Frete</ion-label>
      <ion-input
      type="text" 
      prefix="R$ "
      specialCharacters="[ 'R' ,'$' , ',', '.' ]"
      mask="000.000,00"
      [(ngModel)]="frete"
      ></ion-input>
    </ion-item>
    
    <ion-button expand="block" 
      style="margin-top:20px" 
      (click)="showModal()"
      [disabled]="!(origin.length || final.length || frete)">Calcular viabilidade</ion-button>
  </div>
  <div>

  </div>
</ion-content>
