<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>VIABILIDADE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="side">
      <div class="drop"><ion-icon name="map-outline"></ion-icon></div>
      <div class="dot"></div>
      <div class="arrow"></div>
    </div>
    <div class="box">
      <div class="title">Frete</div>
      <div class="value">{{frete}}</div>
    </div>
  </div>
  <div class="container">
    <div class="side">
      <div class="drop"><ion-icon name="construct-outline"></ion-icon></div>
      <div class="dot"></div>
      <div class="arrow"></div>
    </div>
    <div class="box">
      <div class="title">Despesas</div>
      <div class="value">{{despesas}}</div>
    </div>
  </div>
  <div class="container">
    <div class="side">
      <div class="drop"><ion-icon name="cash-outline"></ion-icon></div>
      <div class="dot"></div>
      <div class="arrow"></div>
    </div>
    <div class="box">
      <div class="title">Viabilidade</div>
      <div class="value">{{total}}</div>
    </div>
  </div>
</ion-content>