.logo {
    width: 50px;
    height: auto;
    padding: 10px;
}

.home {
    --background: url('/assets/images/road.jpg') no-repeat center center / cover;
}

.grid {
    margin: 75px 0;
}

.btn {
    height: 80px;
}