<ion-header color="secondary">
  <ion-toolbar color="secondary">
    <img slot="start" class="logo" src="assets/images/logo.jpg">
    <ion-title>STRADA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home" slot="fixed">
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" class="btn" routerLink="/viability">VIABILIDADE DE FRETE</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" class="btn">FRETE MÍNIMO</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" class="btn">PROGRAMA DE PONTOS</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" class="btn">EMERGÊNCIA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
